
<div class="ui left labeled icon button" {{action "prevPage"}} >
  <i class="left arrow icon"></i>
  prev page
</div>

<div class="ui right labeled icon button" {{action "nextPage"}} >
  <i class="right arrow icon"></i>
  next page
</div>